#animal-photos {
	display:grid;
	position:absolute;
	background-color:grey;
	padding:10px;
	border-radius:10px;

}
img{
	border-radius: 25px;
	padding:5px;
	width:200px;
	height:180px;
}
#photo-heading{
	text-align:center;
	color:white;
	margin:0;
	font-weight:normal;
}
#imgs{
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	margin:10px;
}

